*{margin:0;padding:0;}

@font-face {
  font-family: s0715;
  src: url('./S0715892.TTF');
}
@font-face {
  font-family:s231;
  src: url('./S2317892.TTF');
}
@font-face {
  font-family: mukta;
  src: url('./Mukta/Mukta-Regular.ttf');
}
@font-face {
  font-family: baloo2;
  src: url('./Baloo_2/Baloo2-Regular.ttf');
}
@font-face {
  font-family: khand;
  src: url('./Khand/Khand-Medium.ttf');
}



@font-face {
  font-family: muktaB;
  src: url('./Mukta/Mukta-Bold.ttf');
}
@font-face {
  font-family: baloo2B;
  src: url('./Baloo_2/Baloo2-Bold.ttf');
}
@font-face {
  font-family: khandB;
  src: url('./Khand/Khand-Bold.ttf');
}


body{
  
font-family: muktaB;
background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




    

}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
.bgmain{
    background: #fff;
}

  footer{
      color: black;
      background-color: #d4edda;
  }
  
  .clickButton{
    position: absolute;
    /* background-color: #eea849; */
    color: black;
    top: 87px;
    right: 29px;
    width: 48px;
    height: 151px;
  }

  @media screen and (min-width: 320px) and (max-width:374px) {
    .clickButton{
      position: absolute;
     
    color: black;
    top: 68px;
    right: 12px;
    width: 64px;
    height: 131px;
    }
  }

  @media screen and (min-width: 375px) and (max-width: 424px) {
    .clickButton{
      position: absolute;
  
      color: black;
      top: 86px;
      right: 21px;
      width: 63px;
      height: 151px;
  
    }
  }

  @media screen and (min-width: 425px) and (max-width: 767px) {
    .clickButton{
      position: absolute;
   
      color: black;
      top: 97px;
      right: 11px;
      width: 82px;
      height: 175px;
    }
  }    

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .clickButton{
      position: absolute;
   
      color: black;
      top: 51px;
      right: 11px;
      width: 48px;
      height: 93px;
    }
  } 

  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    .clickButton{
      position: absolute;
   
      color: black;
      top: 69px;
      right: 22px;
      width: 48px;
      height: 133px;
    }
  } 

  @media screen and (min-width: 1440px) {
    .clickButton{
      position: absolute;
 
      color: black;
      top: 86px;
      right: 29px;
      width: 48px;
      height: 153px;
    }
  } 